.hero {
  padding: 25px 35px;
}

.heroImg {
  width: 100%;
//   max-width: 395px;
  display: inline-block;
  margin: auto;
}

.heroHeading {
  margin-block: 32px 16px;

  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

.heroPara {
  margin-bottom: 50;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 320px;
}
